* {
  margin: 0;
  padding: 0;
}

h1 {
	padding: 20px;
}
#avatar {
	padding: 20px 0 0 0;
}

#something {
	width:800px; margin:0 auto;
}

#box {
	padding: 0px 0 0 0;
	width: 1000px;
	margin:0 auto;
}

#slogan {
	text-align: center;
	width: 400px;
	margin:0 auto;
	padding-bottom: 20px;
}

#menu ul {
	position: relative;
	list-style-type: none;
	margin: 0 auto;
	width: 100px;
	padding-bottom: 20px;
}

#menu li {
	float: none;
	display: inline-block;
	*display: inline; 	/* ie7 fix */
	*zoom: 1; 			/* hasLayout ie7 trigger */
	vertical-align: top;
}

#menu li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color: black;
}

#menu li a:hover {
	color: black;
	background-color: white;
}