<img src="images/davidgatti.jpg">

<h1>David Gatti</h1>

<p>❤️ learning about new technologies, 🗣 on podcasts about interesting stuff, and taking nice 📸 with my iPhone.</p>

<ul>
	<li><a [routerLink]="['/']">Home</a></li>
	<li><a [routerLink]="['/podcasts/']">Podcasts</a></li>
	<li><a [routerLink]="['/articles/']">Articles</a></li>
	<li><a [routerLink]="['/technical_articles/']">Technical Articles</a></li>
	<li><a [routerLink]="['/software_projects/']">Software Projects</a></li>
	<li><a [routerLink]="['/hardware_projects/']">Hardware Projects</a></li>
</ul>

<hr>

<router-outlet></router-outlet>