<h2>Technical Articles</h2>

<p>Open Source Article: My passion is to take difficult problems, dissect them, break them down into small, manageable chunks, and resolve them.</p>

<ul>
	<li><a href="https://github.com/davidgatti/Deconstructing-Ping-with-C-and-NodeJS" target="_blank">Deconstructing Ping with C and NodeJS</a>: Simple examples that show how to work with binary headers in C and NodeJS.</li>
	<li><a href="https://github.com/davidgatti/Statefulness-aspect-of-NodeJS" target="_blank">The Statefulness Aspect of NodeJS</a>: An explanation of what it really means to have a stateful environment.</li>
	<li><a href="https://github.com/davidgatti/IoT-Raw-Sockets-Examples" target="_blank">IoT Raw Sockets</a>: Learn about Sockets and how it works, using Particle and NodeJS.</li>
	<li><a href="https://github.com/davidgatti/dgCam" target="_blank">dgCam</a>: Demonstrates how to build a camera app for Android.</li>
</ul>