<div class="row">

	<div class="col-md-6 col-sm-12">

		<h1>David Gatti - Hardware Projects</h1>

		<p>I&#39;m passionate about electronics, and I love the whole IoT idea.</p>

		<ul>
				<li>🅿️  <a href="https://www.hackster.io/davidgatti/garage-opener-591175?ref=user&amp;ref_id=6416&amp;offset=2" target="_blank">IoT Garage Opener: Modify your existing remote to connect it to the Internet.</a></li><li>💦 <a href="https://www.hackster.io/davidgatti/iot-water-flow-meter-4595ff?ref=user&amp;ref_id=6416&amp;offset=1" target="_blank">IoT Water Flow Meter: Measure and track the amount of water that you use at home.</a></li>
		</ul>

	</div>
</div>