<div class="row">

	<div class="col-md-6 col-sm-12">

		<h1>David Gatti // Social Media</h1>

		<p>All the places that you can find me chatting, discussing, helping and sharing.</p>

		<ul>
				<li>🖥 <a href="https://github.com/davidgatti" target="_blank">GitHub</a></li><li>🗂 <a href="http://stackoverflow.com/users/1049894/david-gatti" target="_blank">Stackoverflow</a></li><li>📸 <a href="https://www.instagram.com/gattidavid/" target="_blank">Instagram</a></li><li>👾 <a href="https://www.hackster.io/davidgatti" target="_blank">Hackster.io</a></li><li>🎃 <a href="https://hackaday.io/davidgatti" target="_blank">Hackaday.io</a></li><li>🦉 <a href="https://twitter.com/dawidgatti" target="_blank">Twitter</a></li>
		</ul>

	</div>
</div>